footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
}

.poweredby{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Poppins";
    color: #fff;
}

@media screen and (max-width:769px){
    .poweredby{
        text-align: center;
    }
}